@import url(common/reset.css);

.section{
  width: 100vw;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-con {
  flex: 0 1 600px;
  height: 400px;
  position: relative;
  /* margin: 0 auto; */
  /* border: 1px solid; */
  overflow: hidden;
  background-color: #ccc;
}
.sec-con .gallery {
  width: 500%;
  height: inherit;
  /* border: 1px solid; */
  box-sizing: border-box;
  position: absolute;

}
.sec-con .gallery ul {
  height: inherit;
  display: flex;
  justify-content: space-between;
}
.sec-con .gallery ul li {
  flex: 1;
  height: inherit;
  text-align: center;
  line-height: 400px;
  font-size: 30px;
  /* border: 1px solid; */
  box-sizing: border-box;
}
.sec-con .center-btn {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* border: 1px solid; */
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.sec-con .center-btn span {
  width: 40px;
  height: 40px;
  border: 1px solid;
  background-color: rgb(68, 0, 68);
  box-sizing: border-box;
}
.sec-con .center-btn span:hover{
  background-color: rgb(112, 0, 112);
}
.sec-con .bcon {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  /* border: 1px solid; */
  box-sizing: border-box;
  padding: 5px 0;
  display: flex;
  justify-content: center;
}
.sec-con .bcon .items {
  /* border: 1px solid; */
  box-sizing: border-box;
}
.sec-con .bcon .items ul {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.sec-con .bcon .items ul li {
  width: 30px;
  height: 30px;
  border: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
}
.sec-con .bcon .items ul li:hover{
  background-color: rgb(112, 0, 112);
}
.on {
  background-color: rgb(68, 0, 68);
}